.Selector{
    display: flex;
    flex-direction: column;
    
    gap: 90px; 
    background: #2C2C2C;
}
.Color-container{
    display: flex;
    gap: 36px;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.colorcircle{
    width: 75px;
    height: 75px;
    border-radius: 50px;
    border: 3px solid #FFFFFF;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.15);
}
.circlelarge{
    width: 100px;
    height: 100px;
}
.Selector-container{
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}
.inputbox{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.inputtitle{
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    margin: 0;
}
.inputname{
    display: flex;
    gap: 12px;
    justify-content: center;
}
.inputname input {
    width: 274px;
    height: 42px;
    border: 4px solid #FFFFFF;
    border-radius: 9px;
    background: transparent;
    padding-left: 10px;
    color: white;
}
.inputname input::placeholder {
    color: white;
}
.inputbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 67px;
    height: 42px;    
    background: #FFFFFF;
    border: 4px solid #FFFFFF;
    border-radius: 9px;
    cursor: pointer;
}
.saved-container {
    display: grid;
    gap:20px;
    grid-auto-rows: 10rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px 100px;
}
.saveditem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.saveditemcontainer{
    display: flex;
    justify-content: space-between;
    width: 400px;
}
.saveditem-text {
    color: white;
    font-size: 18px;
}
.pallete-saved {
    display: flex;
    font-display: row;
   background: #151515; 
   padding: 1rem;
   border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .Selector{
        gap:0px;
        justify-content: center;
       
    }
    .Selector-container{ 
        flex-direction: column;
        gap: 10px;
    }
    .saved-container {
        /* display: grid; */
        gap:10px;
        grid-auto-rows: 8rem;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }
    .saveditemcontainer{
        display: flex;
        justify-content: space-between;
        width: 300px;
    }
    .saveditem {
        width: 300px;
    }
    .Color-container {
        display: flex;
        gap: 5px;
        justify-content: center;
        align-items: center;
        height: 0px;
        padding-bottom: 60px;
    }
    .colorcircle{
        width: 50px;
        height: 50px;
    }
    .circlelarge{
        width: 60px;
        height: 60px;
    }
   
    .inputbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 300px;
        padding: 20px 0;
    }
}