.Header {
    display: flex;
    gap: 15px;
    height: 100px;
    align-items: center;
    justify-content : center;
}
.Header-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 30px;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .Header {
        padding: 5px;
        padding-bottom: 40px;
    }

    .Header-icon {
        width: 30px;
    }
   
    .Header-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 1px;
        color: #fff;
    }
}